<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Braathe BySykkel</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>

	<body>
		<% if (liste == null) { %>
		<h2 class="centretitle"><%= title %></h2>
		<% } %> <% if (liste != null) { %>
		<div class="list">
			<% liste.forEach(function(item) { %>
			<p><strong><%= item.id %></strong> <%= item.title %> - <span>(<%= item.subtitle %>)</span></p>
			<% }); %>
		</div>
		<% } %> <% if (stat != null) { %>
		<ul>
			<% stat.forEach(function(station) { %>
			<li>
				<div class="ac">
					<h1><%= station.title %></h1>
					<h3><%= station.subtitle %></h3>
					<p>
						Låser<br />
						<span><%= station.status.availability.locks %></span>
					</p>
					<p>
						Sykler<br />
						<span><%= station.status.availability.bikes %></span>
					</p>
				</div>
			</li>
			<% }); %>
		</ul>
		<% } %>
		<div class="animation-wrapper">
			<div class="particle particle-1"></div>
			<div class="particle particle-2"></div>
			<div class="particle particle-3"></div>
			<div class="particle particle-4"></div>
		</div>
		<% if (liste != null) { %>
		<script type="text/javascript">
			setInterval('window.location.reload()', 60000);
		</script>
		<% } %>
	</body>
</html>
